.allWindow{
    min-height: calc(100vh - 59px);
    overflow: hidden;
    width: 100%;
}

.addProduct{
    position: relative;
    width: 90%;
    height: fit-content;
    margin: 50px 50px 0;
    background: rgb(243, 243, 243);
    border: 1px solid rgb(165, 165, 165);
    border-radius: 10px;
    display: flex;
}

.addPhotoBlock{
    width: fit-content;
    height: fit-content;
}

.dataProduct{
    width: 100%;
    margin-top: 40px;
}

.oneInputBlock{
    width: 90%;
    margin-bottom: 20px;
}

.buttonAdd{
    position: relative;
    width: calc(90% + 20px);
    margin-top: 40px;
    margin-bottom: 20px;
}

.genders{
    position: relative;
    width: calc(90% + 20px);
    display: flex;
}

.genderMen{
    position: absolute;
    cursor: pointer;
    color: rgb(82, 82, 82);
    left: 0;
    width: 48%;
    height: 40px;
    background: white;
    border: 1px solid teal;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
}

.genderWomen{
    position: absolute;
    cursor: pointer;
    color: rgb(82, 82, 82);
    right: 0;
    width: 48%;
    height: 40px;
    background: white;
    border: 1px solid teal;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
}

.activeGender{
    background: teal;
    color: white;
}

.labels{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    width: calc(90% + 20px);
}

.label{
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: 1px solid teal;
    border-radius: 10px;
    background: white;
    color: rgb(82, 82, 82);
    text-align: center;
}

.labelNo{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.labelNike{
    line-height: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.labelJordan{
    line-height: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.labelYeezy{
    line-height: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.activeLabel{
    background: teal;
    color: white;
}

@media screen and (max-width: 1480px) {
    .addProduct{
        display: block;
        margin: 0 auto;
        margin-top: 50px;
    }

    .addPhotoBlock{
        margin: 0 auto;
    }

    .oneInputBlock{
        margin: 0 auto;
        margin-top: 10px;
    }

    .genders{
        margin: 0 auto;
        margin-top: 10px;
    }

    .labels{
        width: fit-content;
        margin: 0 auto;
        margin-top: 80px;
    }

    .buttonAdd{
        position: relative;
        width: calc(90% + 20px);
        margin: 20px auto;
    }
}