.allWindow{
    height: calc(100vh - 59px);
    overflow: hidden;
    width: 100%;
}

.addProduct{
    position: relative;
    width: 70%;
    height: 600px;
    margin: 50px 50px 0;
    background: rgb(243, 243, 243);
    border: 1px solid rgb(165, 165, 165);
    border-radius: 10px;
    display: flex;
}

.dataProduct{
    width: 40%;
    margin-top: 40px;
}

.oneInputBlock{
    width: 90%;
    margin-bottom: 20px;
}

.buttonAdd{
    position: absolute;
    width: 20%;
    bottom: 47px;
}