.card{
    width: 450px;
    height: 370px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
}

.photo{
    width: 420px;
    height: 250px;
    display: block;
    margin: 0 auto;
}

.introduction{
    text-align: center;
}

.brand{
    font-size: 12px;
    margin-bottom: 10px;
}

.model{
    font-size: 12px;
    margin-bottom: 10px;
}

.price{
    color: rgb(145, 22, 22);
    font-size: 12px;
    margin-bottom: 20px;
}

.article{
    display: none;
}

@media screen and (max-width: 365px) {
    .photo{
        width: 300px;
        height: auto;
    }
}