.search{
    padding-top: 38px;
    margin-left: 38px;
    position: relative;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    top: 20px;
    cursor: pointer;
    padding: 0;
}

.filters{
    position: relative;
    display: flex;
    width: 90%;
    min-height: 100px;
    cursor: pointer;
    margin-left: 5%;
    top: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 2px 5px rgb(156, 156, 156);
}

.chahgeOfSize{
    display: flex;
}

.cross{
    position: absolute;
    top: 32px;
    right: 25px;
    height: 22px;
}

.notActive{
    display: none;
}

@media screen and (max-width: 870px) {
    .chahgeOfSize{
        margin-right: 40px;
        flex-wrap: wrap;
    }
}