.filterPrice{
    position: relative;
    display: flex;
    width: fit-content;
    height: 50px;
    background: rgb(242, 242, 245);
    margin: 20px;
    border-radius: 10px;
}

.intro{
    line-height: 50px;
    margin-left: 10px;
}

.startEndPrice{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.startPrice{
    margin-right: 10px;
}

.text{
    font-size: 13px;
}