.history{
    padding-top: 30px;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.intro{
    text-align: center;
    margin-bottom: 30px;
}

.products{
    width: fit-content;
    display: flex;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 90%;
    overflow-x: auto;
}

.introNot{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}