.login{
    width: 300px;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    border: solid rgb(165, 165, 165) 1px;
    border-radius: 10px;
    box-shadow: 0 0 5px grey;
}

.intro{
    font-size: 22px;
    text-align: center;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.button{
    width: 250px;
    margin: 0 auto;
    margin-top: 200px;
}