.navbar{
    position: relative;
    display: flex;
    height: 58px;
    background: rgb(255, 255, 255);
    border-bottom: solid rgb(165, 165, 165) 1px;
}

.criteria{
    line-height: 58px;
    margin-left: 30px;
    background: white;
}

.logo{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    left: 50%;
    top: 50%;
    margin-left: -116px;
    margin-top: -12px;
    background: white;
}

.links{
    position: absolute;
    display: flex;
    line-height: 58px;
    right: 0;
    background: white;
}

.link{
    margin-left: 10px;
    margin-right: 10px;
    background: white;
}