.navbar{
    position: relative;
    display: flex;
    height: 58px;
    background: rgb(255, 255, 255);
    border-bottom: solid rgb(165, 165, 165) 1px;
    font-size: 12px;

    /* position: fixed; */
    /* width: 100%; */
}

.criteria{
    display: flex;
    line-height: 58px;
    margin-left: 30px;
    background: white;
}

.oneCriterion{
    position: relative;
    display: flex;
    width: 100px;
}

.oneCriterion:hover{
    border-bottom: 1px solid black;
}

.cross{
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 40px;
    z-index: -1;
}

.criterion{
    width: 100px;
    /* margin-left: 20px;
    margin-right: 20px; */
    text-align: center;
    cursor: pointer;
}

.criterionOne, .criterionTwo, .criterionThree{
    color: black;
}

.criterionActive{
    border-bottom: 1px solid black;
}

.criterionActive:hover .criterion{
    color: white;
}

.criterionActive:hover .cross{
    z-index: 1000;
}

.logo{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    left: 50%;
    top: 50%;
    margin-left: -116px;
    margin-top: -12px;
    background: white;
}

.links{
    height: 58px;
    position: absolute;
    display: flex;
    line-height: 58px;
    right: 0;
    background: white;
}

.link{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 15px;
    background: white;
}