.cardOrder{
    position: relative;
    width: 90%;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    border-radius: 10px;
    background: white;
}

.data{
    width: 80%;
}

.intro{
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
}

.dataColOne{
    width: 200px;
}

.dataColTwo{
    width: 400px;
}

.products{
    margin-top: 30px;
}

.productsColOne{
    width: 350px;
}

.productsColTwo{
    width: 100px;
}

.productsColThree{
    width: 100px;
}

.tableProducts{
    margin-bottom: 30px;
    text-align: left;
}

.status{
    margin-top: 50px;
    margin-right: 10px;
}

.statusBlock{
    margin-top: 10px;
    padding: 5px;
    height: 50px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
}

.allStatuses{
    height: fit-content;
}

.buttonEdit{
    height: 30px;
    background: rgb(145, 22, 22);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;

    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;           
}

.oneStatus{
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.oneStatus:hover{
    background: rgb(211, 211, 211);
}

.buttonsEdit{
    position: relative;
    display: flex;
    margin-top: 10px;
}

.buttonCancel{
    position: absolute;
    left: 0;
    cursor: pointer;
    width: 50px;
    height: 40px;
    background: rgb(145, 22, 22);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgCross{
    height: 20px;
    width: auto;
    transform: rotate(45deg);
}

.buttonSave{
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 50px;
    height: 40px;
    background: rgb(22, 145, 53);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgTick{
    height: 20px;
    width: auto;
}

.active{
    display: none;
}

@media screen and (max-width: 1320px) {
    .statusBlock{
        font-size: 12px;
        width: 140px;
    }
}

@media screen and (max-width: 960px) {
    .cardOrder{
        display: block;
        padding-bottom: 10px;
    }

    .tableData, .data, .tableProducts{
        width: 100%;
    }

    .dataColOne, .dataColTwo{
        width: 50%;
    }

    .productsColOne, .productsColTwo, .productsColThree{
        width: 33%;
    }

    .status, .statusBlock{
        width: 200px;
    }

    .buttonEdit{
        width: 212px;
    }

    .buttonsEdit{
        height: 50px;
    }
}

@media screen and (max-width: 650px) {
    .cardOrder{
        font-size: 12px;
    }

    .intro{
        font-size: 12px;
        max-width: 100%;
        overflow-x: scroll;
    }
}
