.oneUser{
    width: 90%;
    height: auto;
    margin: 15px auto;
    border: solid rgb(165, 165, 165) 1px;
    border-radius: 10px;
    display: flex;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;           
}

.table{
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 5px;
}

.colOne, .colTwo{
    width: 300px;
}

.correctStatus{
    margin-top: 5px;
    margin-left: 10px;
}

.textStatus{
    cursor: pointer;
}

.options{
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    border: solid rgb(165, 165, 165) 1px;
    border-radius: 10px;
    background: white;
    text-align: center;
}

.option{
    border-radius: 5px;
}

.active{
    display: none;
}

@media screen and (max-width: 940px) {
    .oneUser{
        font-size: 12px;
    }
}

@media screen and (max-width: 860px) {
    .oneUser{
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .colOne, .colTwo{
        width: 200px;
        max-width: 200px;
    }
}

@media screen and (max-width: 600px) {
    .oneUser{
        display: block;
    }

    .textStatus{
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .options{
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
        width: 90%;
    }
}

@media screen and (max-width: 390px) {
    .oneUser{
        font-size: 10px;
    }
}

@media screen and (max-width: 290px) {
    .oneUser{
        font-size: 8px;
    }
}