.order{
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 10px;
    padding: 10px;
}

.status{
    margin-top: 10px;
    margin-bottom: 10px;
}

.data{
    display: flex;
    cursor: pointer;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;           
}

.photoArrowClose{
    height: 15px;
    width: auto;
    margin-top: 2px;
    margin-right: 10px;

    transition: all ease 0.4s;
}

.photoArrowOpen{
    margin-right: 10px;
    transform: rotate(90deg);
    margin-top: 3px;
    height: 15px;
    width: auto;

    transition: all ease 0.4s;
}

.tables{
    display: flex;
}

.tableProduct{
    margin-left: 10px;
    margin-right: 40px;
    margin-bottom: 10px;
}

.tableProductColOne{
    width: 500px;
}

.tableProductColTwo{
    width: 100px;
}

.tableProductColThree{
    width: 100px;
}

.tableData{
    margin-left: 10px;
    margin-right: 40px;
    margin-bottom: 10px;
}

.active{
    display: none;
}

@media screen and (max-width: 900px) {
    .tables{
        display: block;
    }
}

@media screen and (max-width: 730px) {
    .tableProductColOne{
        width: 300px;
    }
    
    .tableProductColTwo{
        width: 100px;
    }
    
    .tableProductColThree{
        width: 100px;
    }
}

@media screen and (max-width: 610px) {
    .numberOrder{
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .numberOrder{
        width: 100%;
        overflow-x: scroll;
    }
    .order{
        font-size: 12px;
    }   
}