.orders{
    position: relative;
    width: 100%;
    min-height: calc(100vh - 59px);
}

.intro{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filters{
    height: fit-content;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.inputsFilter{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tableButtons{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.allButtons{
    color: rgb(82, 82, 82);;
}

.statuses{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.oneFilter{
    width: 120px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    color: rgb(82, 82, 82);
}

.oneFilter:hover{
    color: black;
    background: white;
}

.activeFilter{
    color: black;
    background: white;
    border: 1px solid teal;
}