.shop{
    width: 100%;
    min-height: calc(100vh - 58px);
    margin-bottom: 20px;
    overflow-y: hidden;
    background: rgb(242, 242, 245);
}

.shop::-webkit-scrollbar {
    width: 0;
}

.bgBlock{
    width: 100%;
    height: auto;
}

.products{
    margin: 0 auto;
    display: flex;
    overflow-x: hidden;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.introAbsence{
    width: 100%;
    height: fit-content;
    margin-top: 200px;
    text-align: center;
}

.article{
    color: blue;
}