.sidebar{
    position: absolute;
    top: 30px;
    right: 0;
    width: 20%;
    height: 80vh;
    background: white;
    padding-top: 30px;
    border-top: 1px solid rgb(165, 165, 165);
    border-left: 1px solid rgb(165, 165, 165);
    border-bottom: 1px solid rgb(165, 165, 165);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;                  
}

.link{
    margin-left: 35px;
    background: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.linkProducts{
    margin-left: 20px;
    background: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.linkToggle{
    margin-left: 30px;
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.headerProducts{
    cursor: pointer;
}

.imgArrow{
    width: 10px;
    height: auto;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.imgClose{
    transform: rotate(90deg);
}

.imgClose{
    rotate: 0;
}

.products{
    display: grid;
}

.active{
    display: none;
}

@media screen and (max-width: 860px) {
    .sidebar{
        position: relative;
        top: 0;
        width: 100%;
        height: fit-content;
        left: 5%;
        display: flex;
        border-top: none;
        border-right: 1px solid rgb(165, 165, 165);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .link, .linkProducts{
        min-width: 80px;
        margin-left: 35px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .linkToggle{
        margin-left: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 860px) {
    .sidebar{
        display: flex;
        flex-wrap: wrap;
    }
}